header {
  display: flex;
  flex-direction: column;
  margin: 0;

  nav {
    background-color: $primary_color;
    width: calc(100% - 32px);
    padding: 16px;


    ul.nav-links {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: space-between;

      li {
        a,.nav-item {
          text-decoration: none;
          font-size: 1rem;
          color: $black_color;
          position: relative;

          img.logo {
            height: 32px;
          }

          &:hover {
            i {
              color: $hover_color;
            }
            &::before {
              display: block;
              content: attr(data-tooltip);
              position: absolute;
              top: 0;
              left:1.5rem;
            }
          }
        }

        &.account-btn-container {
          justify-self: flex-end;
          cursor: pointer;
          .nav-item {
            &:hover {
              &::before {
                left: 0;
                transform: translateX(calc(-100% - 0.5rem));
              }
            }
          }
        }
      }

      .dropdown {
        position: relative;

        .dropdown-content {
          display: none;
          position: absolute;
          top: 100%;
          background-color: $primary_color;
          border: 8px solid $white_color;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          padding: $basic_distance;
          z-index: 10;
          right: 0;
          left: auto;
          white-space: nowrap;
        }

        &:hover {
          .dropdown-content {
            display: block;
          }
        }

        ol {
          margin: 0;
          padding: 0;
          list-style: none;
          width: 100%;

          .btn {
            font-size: 24px;
          }
          .bold {
            font-weight: bold;
          }

         .red {
            color: $denied_color;
          }
          .fa-power-off {
            color: $denied_color;
          }

          li {
            padding: 8px 0;

            a {
              text-decoration: none;
              color: $black_color;

              &:hover {
                color: $hover_color;
              }
            }

            button {
              all: unset;

              cursor: pointer;
              color: $black_color;

              &:hover {
                color: $hover_color;
              }
            }
          }
        }
      }
    }
  }

  .hero {
    margin: 0 auto;
    padding: $basic_distance;
    text-align: center;
  }
}
