/* colors */
$primary_color: #c2a4cd;
$secondary_color: #ebb573;
$tertiary_color: #cda4a4;
$quaternary_color: #dfd4e3;
$black_color: #333333;
$white_color: #e3e3e3;
$denied_color: #c64f62;
$denied_color2: #721c24;
$access_color: #87c5c8;
$access_color2: #155724;
$access_background: #d4edda;
$hover_color: #dfd0e5;

/* spacing */
$basic_distance: 16px;
$basic_distance_large: 24px;
