footer {
    background-color: primary_color;
    width: 100%;
    margin-top: auto;   
}
.social {
        display: flex;
        width: 30px; // Adjust the width
        height: 30px; // Adjust the height
        margin-right: 10px; // Adjust the margin
        justify-content: center; /* Center the content horizontally*/
        align-items: center; /* Center the content vertically*/
}
.footer-icon{
        width: 40px; // Adjust the width of the icons
        height: 40px; // Adjust the height of the icons
        margin: 0 15px; // Add some margin between icons
}
