nav {
    background-color: $primary_color;
    ul {
        li {
            padding: $basic_padding;
            a {
                color: $white_color;
            }
        }
    }
}
/* Hamburger/Cross icon styles */
.menu-icon {
    top: $basic_distance;
    display: none;
    position: relative;
    width: 20px;
    height: 2px;
    background: $primary_color;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
    position: absolute;
    left: 0;
    height: 2px;
    width: 100%;
    background: $primary_color;
    transition: all 0.3s ease;
}

.menu-icon::before {
    top: -10px;
}

.menu-icon::after {
    bottom: -10px;
}

#menu-toggle:checked~.menu-icon {
    background: transparent;
}

#menu-toggle:checked~.menu-icon::before {
    transform: rotate(45deg);
    top: 0;
}

#menu-toggle:checked~.menu-icon::after {
    transform: rotate(-45deg);
    bottom: 0;
}

#menu-toggle {
    top: $basic_distance;
    position: absolute;
    width: 30px;
    height: 30px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

#menu-toggle:checked~nav ul {
    display: flex;
}