/* colors */
$primary_color: #c2a4cd;
$secondary_color: #AC8D8A;
$tertiary_color: #EEDAAB;
$quaternary_color: #f9f9f9;
$black_color: #333333;
$white_color: #e3e3e3;
$denied_color: #c64f62;
$access_color: #7EA78B;
$hover_color: #DFD0E5;

/* spacing */
$basic_distance: 16px;
$basic_distance_large: 24px;
