/* colors */
/* spacing */
html,
body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  font-family: "Roboto";
  color: #333333;
}

h1 {
  font-size: 64px;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue";
  font-weight: bold;
}

article {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0;
}
header nav {
  background-color: #c2a4cd;
  width: 100%;
  padding: 16px 0;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #333333;
}
header nav ul li a img.logo {
  height: 32px;
}
header nav ul li a:hover {
  color: #AC8D8A;
}
header nav ul li.account-btn-container {
  justify-self: flex-end;
}
header nav ul .dropdown {
  position: relative;
}
header nav ul .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #c2a4cd;
  border: 8px solid #e3e3e3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 10;
  right: 0;
  left: auto;
  white-space: nowrap;
}
header nav ul .dropdown:hover .dropdown-content {
  display: block;
}
header nav ul .dropdown ol {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}
header nav ul .dropdown ol .btn {
  font-size: 24px;
}
header nav ul .dropdown ol .bold {
  font-weight: bold;
}
header nav ul .dropdown ol .red {
  color: #c64f62;
}
header nav ul .dropdown ol .fa-power-off {
  color: #c64f62;
}
header nav ul .dropdown ol li {
  padding: 8px 0;
}
header nav ul .dropdown ol li a {
  text-decoration: none;
  color: #333333;
}
header nav ul .dropdown ol li a:hover {
  color: #AC8D8A;
}
header nav ul .dropdown ol li button {
  all: unset;
  cursor: pointer;
  color: #333333;
}
header nav ul .dropdown ol li button:hover {
  color: #AC8D8A;
}
header .hero {
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-links .account-btn-container {
  margin-left: auto;
}
.nav-links li {
  position: relative;
}
.nav-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #AC8D8A;
  font-size: 16px;
}
.nav-links a .nav-text {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-5px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
  font-size: 12px;
  white-space: nowrap;
}
.nav-links a:hover .nav-text {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.nav-links a:hover i {
  color: #AC8D8A;
}
.nav-links a i {
  font-size: 16px;
  transition: color 0.3s ease;
}

main .welcome {
  border: 8px solid #c2a4cd;
  padding: 0 16px;
  line-height: 24px;
  text-align: justify;
  flex: 1;
}
main .welcome p.post-content {
  font-size: 16px;
  font-weight: lighter;
}
main img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
main .blog-posts {
  line-height: 24px;
}
main .blog-posts .posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 0;
}
main .blog-posts .posts-grid post-card {
  border: 1px solid #c2a4cd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}
main .blog-posts h2,
main .blog-posts h3,
main .blog-posts p,
main .blog-posts .meta {
  padding: 0 24px;
}
main .blog-posts img.post-image {
  max-width: 300px;
  max-height: 300px;
}
main .blog-posts a.btn {
  background-color: #AC8D8A;
  color: #333333;
  border: none;
  padding: 8px;
  margin: 16px;
  cursor: pointer;
}
main .blog-posts a.btn:hover {
  background-color: #c2a4cd;
}
main .blog-posts article {
  border-bottom: 4px solid #AC8D8A;
  padding-bottom: 16px;
}
main .blog-posts article:nth-of-type(even) {
  border-color: #c2a4cd;
}
main .blog-posts article .meta {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
}
main .blog-posts article .meta span.date {
  color: #AC8D8A;
}
main .blog-posts article .meta span.author {
  color: #c2a4cd;
}

.main-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registration-form {
  padding: 24px;
  border: 32px solid #e3e3e3;
  border-radius: 8px;
  background: #c2a4cd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  margin-top: auto;
  margin: 0 auto;
}
.registration-form form {
  display: flex;
  flex-direction: column;
}
.registration-form form div {
  margin-bottom: 1rem;
}
.registration-form form div label {
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: #333333;
}
.registration-form form div input {
  padding: 0.5rem;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 100%;
}

.interaction-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.interaction-buttons p {
  margin: 0;
}
.interaction-buttons form {
  flex: 1;
}
.interaction-buttons form textarea {
  width: 100%;
  height: 40px;
}

.post-detail h1 p {
  color: #333333;
}
.post-detail a {
  margin-right: 10px;
  color: #AC8D8A;
  text-decoration: none;
}

button.btn {
  text-decoration: none;
  background-color: #EEDAAB;
  color: #333333;
  border: none;
  padding: 10px 5px;
  cursor: pointer;
}
button.btn:hover {
  background-color: #c2a4cd;
}

footer {
  background-color: #c2a4cd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px 0;
  width: 100%;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
footer .footer-content .social-icons {
  display: flex;
  gap: 24px;
}
footer .footer-content .social-icons img {
  height: 24px;
}

.about-section {
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about-section h1,
.about-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.about-section p {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}/*# sourceMappingURL=app.css.map */