html,
body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

* {
  font-family: "Roboto";
  color: #333333;
  line-height: 1.5;
}

h1 {
  font-size: 64px;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue";
  font-weight: bold;
}

article {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header nav {
  background-color: #C2A4CD;
  width: 100%;
}

header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  padding: 16px;
}

header nav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: #e3e3e3;
}

header nav ul li a img.logo {
  height: 32px;
}

header nav ul li a:hover {
  color: #7fd9c2;
}

header .hero {
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}
.about-section {
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section h1,
.about-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.about-section p {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}

main .welcome {
  border: 8px solid #C2A4CD;
  padding: 0 16px;
  line-height: 24px;
  text-align: justify;
}

main .blog-posts {
  line-height: 24px;
}

main .blog-posts h2,
main .blog-posts h3,
main .blog-posts p,
main .blog-posts .meta {
  padding: 0 24px;
}

main .blog-posts article {
  border-bottom: 4px solid #7fd9c2;
  padding-bottom: 16px;
}

main .blog-posts article:nth-of-type(even) {
  border-color: #C2A4CD;
}

main .blog-posts article .meta {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
}

main .blog-posts article .meta .date {
  color: #7fd9c2;
}

main .blog-posts article .meta .author {
  color: #C2A4CD;
}

.main-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.blog-posts {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
  width: 100%;
}

.blog-posts article {
  background: #f9f9f9;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.meta {
  font-size: 0.9rem;
  color: #888;
  margin-top: 10px;
}

.registration-form {
  padding: 24px;
  border: 32px solid #e3e3e3;
  border-radius: 8px;
  background: #C2A4CD;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  width: 100%;
  margin: auto;
}

.registration-form form {
  display: flex;
  flex-direction: column;
}

.registration-form form div {
  margin-bottom: 1rem;
}

.registration-form form div label {
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: #e3e3e3;
}

.registration-form form div input {
  padding: 0.5rem;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 100%;
}

.interaction-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.interaction-buttons form {
  flex: 1;
}

.interaction-buttons textarea {
  width: 100%;
  height: 40px;
}

.btn,
button {
  margin: 5px 16px;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  background-color: #DFD0E5;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #333333;
}

.btn:hover,
button:hover {
  background-color: #EB8573;
}

img {
  margin: 0 16px;
}

header {
  position: relative;
}

.nav-links {
  list-style: none;
  display: flex;

  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  height: 3px;
  width: 30px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
 
    flex-direction: column;

    position: absolute;
    top: 60px;

    right: 0;
    background-color: #C2A4CD;
    width: 100%;

  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;

  }

  .hamburger.open .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .line:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.open .line:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .blog-posts,
  .register-form,
  .main-container {
    padding: 0.5rem;
    max-width: 200px;
    margin: 0;
  }

  .blog-posts article {
    padding: 15px;
  }

  .blog-posts img {
    max-width: 100%;
  }

  .blog-posts {
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(50% - 20px);
    margin: 10px;
    padding: 10px;
  }

}

.meta {
  font-size: 0.8rem;
}

.btn {
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
  text-decoration: none;
}

.comment {
  margin-top: 20px;
}

.comment textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
}

form div {
  flex-direction: column;
}

footer {
  background-color: #C2A4CD;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  width: 100%;
  margin-top: 150px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 16px; 
}

.social-icons {
  display: flex;
  gap: 32px;
}

footer img {
  height: 32px;
}

.author {
  font-size: 14px;
  color: #4f4e4f;
  text-align: center;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

ol {
  list-style-type: none; 
  padding-left: 0;
  margin-left: 0;
}