/* colors */
/* spacing */
html,
body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button,
.btn {
  text-decoration: none;
  font-size: 16px;
  background-color: #87c5c8;
  color: #333333;
  border: none;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
}
button:hover,
.btn:hover {
  background-color: #ebb573;
}

.action-buttons {
  display: flex;
  justify-content: center;
}

* {
  font-family: "Roboto";
  color: #333333;
  text-decoration: none;
}

h1 {
  font-size: 64px;
}

h1,
h2,
h3,
h4 {
  font-family: "Bebas Neue";
  font-weight: bold;
}

article {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #c2a4cd;
  align-items: center;
}
header nav {
  width: calc(100% - 32px);
  max-width: 1280px;
  padding: 16px;
  display: flex;
  position: relative;
}
header nav .logo {
  height: 48px;
  margin-right: 32px;
}
header nav .burger-menu {
  display: none;
}
header nav ul.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: space-between;
}
header nav ul.nav-links li a,
header nav ul.nav-links li .nav-item {
  text-decoration: none;
  font-size: 1rem;
  color: #333333;
  position: relative;
}
header nav ul.nav-links li a img.logo,
header nav ul.nav-links li .nav-item img.logo {
  height: 32px;
}
header nav ul.nav-links li a:hover,
header nav ul.nav-links li .nav-item:hover {
  color: #dfd0e5;
}
header nav ul.nav-links li a:hover::before,
header nav ul.nav-links li .nav-item:hover::before {
  display: block;
  content: attr(data-tooltip);
  position: absolute;
  top: 0;
  left: 1.5rem;
}
header nav ul.nav-links li.account-btn-container {
  justify-self: flex-end;
  cursor: pointer;
}
header nav ul.nav-links li.account-btn-container .nav-item:hover::before {
  left: 0;
  transform: translateX(calc(-100% - 0.5rem));
}
header nav ul.nav-links .dropdown {
  position: relative;
}
header nav ul.nav-links .dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #87c5c8;
  border: 8px solid #e3e3e3;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 10;
  right: 0;
  left: auto;
  white-space: nowrap;
}
header nav ul.nav-links .dropdown .dropdown-content .dropdown-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
header nav ul.nav-links .dropdown .dropdown-content .dropdown-list p {
  margin-top: 0;
}
header nav ul.nav-links .dropdown .dropdown-content .dropdown-list li {
  padding: 8px;
  border-bottom: 1px solid #e3e3e3;
}
header nav ul.nav-links .dropdown .dropdown-content .dropdown-list li:hover {
  background-color: #87c5c8;
}
header nav ul.nav-links .dropdown .dropdown-content .dropdown-list li:last-of-type {
  border-bottom: none;
}
header nav ul.nav-links .dropdown .dropdown-content .dropdown-list .red {
  color: #c64f62;
  background-color: unset;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  flex-direction: unset;
}
header nav ul.nav-links .dropdown .dropdown-content .dropdown-list .fa-power-off {
  color: #c64f62;
}
header nav ul.nav-links .dropdown:hover .dropdown-content {
  display: block;
}
@media screen and (max-width: 768px) {
  header nav ul.nav-links {
    display: none;
  }
  header nav .account-btn-container {
    padding-bottom: 0;
    border-bottom: none;
  }
  header nav .burger-menu {
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    width: 36px;
    height: 36px;
  }
  header nav .burger-menu #menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 150;
  }
  header nav .burger-menu:has(#menu-toggle:checked) ~ ul.nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    left: 0;
    gap: 1.5rem;
    background-color: #c2a4cd;
  }
  header nav .burger-menu:has(#menu-toggle:checked) ~ ul.nav-links li {
    min-width: 100%;
    border-bottom: 1px solid #e3e3e3;
    padding: 0.5rem;
  }
  header nav .burger-menu:has(#menu-toggle:checked) ~ ul.nav-links li a::before,
  header nav .burger-menu:has(#menu-toggle:checked) ~ ul.nav-links li .nav-item::before {
    display: block;
    content: attr(data-tooltip);
    position: absolute;
    top: 0;
    left: 1.5rem;
  }
  header nav .burger-menu:has(#menu-toggle:checked) ~ ul.nav-links li.account-btn-container {
    border-bottom: none;
    background-color: #87c5c8;
    justify-self: unset;
  }
  header nav .burger-menu:has(#menu-toggle:checked) ~ ul.nav-links li.account-btn-container .nav-item::before {
    transform: none;
  }
  header nav .burger-menu .mobile-nav-icon {
    width: 100%;
    height: 0.25rem;
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
  }
  header nav .burger-menu .mobile-nav-icon::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    height: 0.25rem;
    border-radius: 2px;
    background-color: #333333;
  }
  header nav .burger-menu .mobile-nav-icon::after {
    content: "";
    position: absolute;
    top: 32px;
    left: 0;
    width: 100%;
    height: 0.25rem;
    border-radius: 2px;
    background-color: #333333;
  }
  header nav ul.nav-links .dropdown .dropdown-content {
    display: flex;
    position: relative;
    top: 100%;
    right: 24px;
    padding: 16px;
    padding-bottom: 0;
    border: none;
    box-shadow: none;
  }
  header nav ul.nav-links .dropdown .dropdown-content .dropdown-list {
    border-bottom: none;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 0.5rem;
  }
  header nav ul.nav-links .dropdown .dropdown-content .dropdown-list p {
    display: none;
  }
}
header .hero {
  margin: 0 auto;
  padding: 16px;
  text-align: center;
}

main {
  max-width: 1280px;
}
main .welcome {
  border: 8px solid #c2a4cd;
  padding: 0 16px;
  line-height: 24px;
  text-align: justify;
  flex: 1;
}
main .welcome .post-content {
  font-size: 16px;
  font-weight: lighter;
}
main img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
main .blog-posts {
  line-height: 24px;
}
main .blog-posts h2,
main .blog-posts h3,
main .blog-posts p,
main .blog-posts .meta {
  padding: 0 24px;
}
main .blog-posts img {
  max-width: 300px;
  max-height: 300px;
}
main .blog-posts article {
  border-bottom: 4px solid #ebb573;
  padding-bottom: 16px;
}
main .blog-posts article:nth-of-type(even) {
  border-color: #c2a4cd;
}
main .blog-posts article .meta {
  font-size: 12px;
  color: rgba(51, 51, 51, 0.5);
}
main .blog-posts article .meta .date {
  color: #ebb573;
}
main .blog-posts article .meta .author {
  color: #c2a4cd;
}

.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  width: 100%;
  margin: 0 auto;
  padding: 8px 0;
}

.post-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #c2a4cd;
  border-radius: 8px;
  padding: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-height: 400px;
  margin: 16px;
}

.main-container {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  flex-grow: 1;
  padding-bottom: 32px;
}

.container {
  align-items: flex-start;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.registration-form {
  padding: 24px;
  border: 32px solid #e3e3e3;
  border-radius: 8px;
  background: #c2a4cd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
.registration-form .form-group {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: start;
}
.registration-form form {
  display: flex;
  flex-direction: column;
}
.registration-form form div {
  margin-bottom: 1rem;
}
.registration-form form div label {
  margin-bottom: 0.5rem;
  font-size: 16px;
  color: #333333;
}
.registration-form form div input {
  padding: 0.5rem;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  width: 100%;
}

.interaction-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.interaction-buttons p {
  margin: 0;
}
.interaction-buttons form {
  flex: 1;
}
.interaction-buttons form textarea {
  width: 100%;
  height: 40px;
}

.post-detail h1 p {
  color: #333333;
}
.post-detail a {
  margin-right: 10px;
  color: #ebb573;
  text-decoration: none;
}

.edit-form {
  padding: 1rem;
}
.edit-form fieldset {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.edit-img {
  max-width: 200px;
}

.messages {
  list-style-type: none;
  padding: 0;
}
.messages .success {
  background-color: #d4edda;
  color: #155724;
}
.messages .success .error {
  background-color: #f8d7da;
  color: #721c24;
}
.messages li {
  margin: 8px 0;
  padding: 8px;
  border-radius: 4px;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
}
.posts-container .post {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}
.posts-container .post h3 {
  font-size: 1.5em;
  margin-bottom: 16px;
}
.posts-container .post p {
  font-size: 1em;
  margin-bottom: 15px;
}
.posts-container .post-img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 8px;
}

.meta {
  font-size: 0.9em;
  color: #ebb573;
}

footer {
  background-color: #c2a4cd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px 0;
  width: 100%;
}
footer .footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
footer .footer-content .social-icons {
  display: flex;
  gap: 24px;
}
footer .footer-content .social-icons img {
  height: 24px;
}

.about-section {
  padding: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.about-section h1,
.about-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.about-section p {
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
}/*# sourceMappingURL=app.css.map */