{% extends 'base_generic.html' %}
{% load static %}

{% block content %}
<main class="main-container">
    <div class="registration-form">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
    </div>
</main>
{% endblock %}

<footer>
    <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page">
        <img src="{% static 'images/x-twitter.png' %}" alt="Twitter" class="social">
    </a>
    <a href="https://github.com" aria-label="Open-source code GitHub" target="_blank">
        <img src="{% static 'images/github.png' %}" alt="GitHub" class="social">
    </a>
    <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page">
        <img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social">
    </a>
</footer>