{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="main-container">
    <div class="container">
        <h3>Welcome, {{ user.username }}!</h3>
        <p>Welcome to CreativeFails! We’re thrilled to have you join our community. This is a space where creators can share, explore, and grow together. Our mission is to celebrate creativity in all its forms—including the unexpected and imperfect moments that often teach us the most. Here, you can draw inspiration from others' experiences, learn from their creative processes, and discover new ways to fuel your own creativity.
            If you’re registered as an artist, feel free to share your own stories, challenges, and victories with us—we'd love to hear from you! Whether it's a masterpiece or a 'happy accident,' your journey can inspire others. We encourage everyone to engage with the community by commenting on posts, sharing your thoughts, and sparking meaningful conversations. Together, we can embrace the beauty of imperfection and create something amazing. Let’s celebrate creativity in all its forms—join the conversation today!</p>    
    </div>
</div>
{% endblock %}