{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="hero">
        <h1>Creative Fails</h1>
    </div>
    <div class="registration-form">
        <h2>Register</h2>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}

            <div>
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <ul class="errorlist">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <ul class="errorlist">
                        {% for error in form.password1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <ul class="errorlist">
                        {% for error in form.password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            <div>
                {{ form.is_artist.label }}
                {{ form.is_artist }}
            </div>

            <button type="submit">Sign sup</button>
        </form>
    </div>

{% endblock %}
