{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <meta name="csrf-token" content="{% csrf_token %}">
    <link rel="stylesheet" href="{% static 'css/webfonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Register - Creative Fails</title>
</head>

<body>
    <header>
        <div class="header-element">
            <nav>
                <ul>
                    <li><a href="/"><img class="logo" src="{% static 'images/logo_cf.png' %}" alt="Logo"></a></li>
                    <li><a href="{% url 'write_article' %}">Write Article</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="hero">
            <h1>Creative Fails</h1>
        </div>
    </header>
    <main class="main-container">
        <div class="registration-form">
            <h2>Register</h2>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}

                <div>
                    {{ form.username.label_tag }} {{ form.username }}
                    {% if form.username.errors %}
                    <ul class="errorlist">
                        {% for error in form.username.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div>
                    {{ form.email.label_tag }} {{ form.email }}
                    {% if form.email.errors %}
                    <ul class="errorlist">
                        {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div>
                    {{ form.password1.label_tag }} {{ form.password1 }}
                    {% if form.password1.errors %}
                    <ul class="errorlist">
                        {% for error in form.password1.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div>
                    {{ form.password2.label_tag }} {{ form.password2 }}
                    {% if form.password2.errors %}
                    <ul class="errorlist">
                        {% for error in form.password2.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <button type="submit">Register</button>
            </form>
            {% csrf_token %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </main>
    <footer>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page">
            <img src="{% static 'images/x-twitter.png' %}" alt="Twitter" class="social">
        </a>
        <a href="https://github.com" aria-label="Open-source code GitHub" target="_blank">
            <img src="{% static 'images/github.png' %}" alt="GitHub" class="social">
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page">
            <img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social">
        </a>
    </footer>
</body>

</html>