{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" href="{% static 'css/webfonts.css' %}">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <title>
            {% block title %}Creative Fails
            {% endblock %}
        </title>
    </head>

    <body>
        <div class="wrapper">
            <header>
                <nav>
                    <!-- Navigation menu -->
                    <ul class="nav-links">
                        <li>
                            <a href="{% url 'homepage' %}">
                                <img class="logo" src="{% static 'images/logo_cf.png' %}" alt="Logo">
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'homepage' %}" data-tooltip="Homepage">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'about' %}" data-tooltip="About">
                                <i class="fa fa-info-circle"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'post_list' %}" data-tooltip="Blog">
                                <i class="fa fa-list-alt"></i> 
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="account-btn-container">
                                <div class="dropdown">
                                    <a href="#">
                                        <i class="fa fa-user"></i>
                                        <span class="nav-text">Account</span>
                                    </a>
                                    <div class="dropdown-content">
                                        <ol class="btn">
                                            <li class="bold">Welcome,
                                                {{ user.username }}</li>
                                            {% if user.is_artist %}
                                                <li>
                                                    <a href="{% url 'write_article' %}">Create New Post</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'user_posts' %}">My Posts</a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <form action="{% url 'logout' %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="red">
                                                        <i class="fa fa-power-off"></i>
                                                        Logout
                                                    </button>
                                                </form>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            <li class="account-btn-container">
                                <div class="dropdown">
                                    <a href="#">
                                        <i class="fa fa-user"></i>
                                        <span class="nav-text">Account</span>
                                    </a>
                                    <div class="dropdown-content">
                                        <ol class="btn">
                                            <li class="account-btn-container">
                                                <a href="{% url 'login' %}">
                                                    <i class="fa fa-user"></i>
                                                    <span class="nav-text">Sign In</span>
                                                </a>
                                            </li>
                                            <li class="sign-up-container">
                                                <a href="{% url 'register' %}">
                                                    <i class="fa fa-user-plus"></i>
                                                    <span class="nav-text">Sign Up</span>
                                                </a>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </nav>

            </header>
            <main class="main-container"> {% block content %}{% endblock %}
                </main>
                <footer>
                    <div class="footer-content">
                        <div class="social-icons">
                            <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page">
                                <img src="{% static 'images/x-twitter.png' %}" alt="Twitter">
                            </a>
                            <a href="https://github.com" aria-label="Open-source code GitHub" target="_blank">
                                <img src="{% static 'images/github.png' %}" alt="GitHub">
                            </a>
                            <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page">
                                <img src="{% static 'images/instagram.png' %}" alt="Instagram">
                            </a>
                        </div>
                        <div class="author">
                            &copy; Anna Afijan 2024 | For educational purposes only.
                        </div>
                    </div>
                </footer>
            </div>
        </body>
    </html>
