{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/webfonts.css' %}">
    <title>{% block title %}Creative Fails{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="nav-container">
                    <!-- Hamburger icon -->
                    <div class="hamburger" id="hamburger">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>

                    <!-- Navigation menu -->
                    <ul class="nav-links" id="nav-links">
                        <li><a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo_cf.png' %}"
                                    alt="Logo"></a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'write_article' %}">Write Article</a></li>
                        <li>
                            <a href="{% url 'logout' %}" id="logout-link">Logout</a>
                            <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                                {% csrf_token %}
                            </form>
                        </li>
                        {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <script>
                document.getElementById('logout-link').addEventListener('click', function (event) {
                    event.preventDefault();
                    document.getElementById('logout-form').submit();
                });

                // Hamburger menu toggle
                const hamburger = document.getElementById('hamburger');
                const navLinks = document.getElementById('nav-links');

                hamburger.addEventListener('click', () => {
                    navLinks.classList.toggle('active');
                    hamburger.classList.toggle('open');
                });
            </script>
        </header>

        <main class="main-container">
            {% block content %}{% endblock %}
        </main>

        <footer>
            <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page">
                <img src="{% static 'images/x-twitter.png' %}" alt="Twitter" class="social">
            </a>
            <a href="https://github.com" aria-label="Open-source code GitHub" target="_blank">
                <img src="{% static 'images/github.png' %}" alt="GitHub" class="social">
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page">
                <img src="{% static 'images/instagram.png' %}" alt="Instagram" class="social">
            </a>
        </footer>
    </div>
</body>

</html>