header {
  display: flex;
  flex-direction: column;
  margin: 0;

  nav {
    background-color: $primary_color;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: space-between;

      li {
        padding: $basic_distance;

        a {
          text-decoration: none;
          font-size: 16px;
          color: $black_color;

          img.logo {
            height: 32px;
          }

          &:hover {
            color: $secondary_color;
          }
        }

        &.account-btn-container {
          justify-self: flex-end;
        }
      }

      .dropdown {
        position: relative;

        .dropdown-content {
          display: none;
          position: absolute;
          top: 100%;
          background-color: $primary_color;
          border: 8px solid $white_color;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
          padding: $basic_distance;
          z-index: 10;
          right: 0;
          left: auto;
          white-space: nowrap;
        }

        &:hover {
          .dropdown-content {
            display: block;
          }
        }

        ol {
          margin: 0;
          padding: 0;
          list-style: none;
          width: 100%;

          li {
            padding: 8px 0;

            a {
              text-decoration: none;
              color: $black_color;

              &:hover {
                color: $secondary_color;
              }
            }

            button {
              all: unset;

              cursor: pointer;
              color: $black_color;

              &:hover {
                color: $secondary_color;
              }
            }
          }
        }
      }
    }
  }

  .hero {
    margin: 0 auto;
    padding: $basic_distance;
    text-align: center;
  }
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 20px;

  li {
    position: relative;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: $white_color;
    font-size: 16px;

    .nav-text {
      visibility: hidden;
      opacity: 0;
      transform: translateY(-5px);
      transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
      font-size: 12px;
      white-space: nowrap;
    }

    &:hover {
      .nav-text {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }

      i {
        color: $white_color;
      }
    }

    i {
      font-size: 16px;
      transition: color 0.3s ease;
    }
  }
}