header {
  display: flex;
  flex-direction: column;
  margin: 0;

  nav {
    background-color: $primary_color;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      justify-content: space-between;
      li {
        padding: $basic_distance;

        a {
          text-decoration: none;
          font-size: 16px;
          color: $black_color;

          img.logo {
            height: 32px;
          }

          &:hover {
            color: $secondary_color;
          }
        }
        &.account-btn-container {
          justify-self: flex-end;
        }
      }
      .dropdown {
        position: relative;
        .dropdown-content{
          display: none;
          position: absolute;
          top: 16px;
          left: 0;
        }
        &:hover {
          .dropdown-content {
            display:block;
          }
        }
      }
    }
  }

  .hero {
    margin: 0 auto;
    padding: $basic_distance;
    text-align: center;
  }
}