/* colors */
$primary_color: #C2A4CD;
$secondary_color: #7fd9c2;
$tertiary_color: #EB8573;
$quaternary_color: #ABB7CB;
$black_color: #333333;
$white_color: #e3e3e3;
$red_color: #C64F62;

/* spacing */
$basic_distance: 16px;