<<<<<<< HEAD:src/_basic.scss
html,
body {
    margin: 0;
    min-width: 100%;
    height: 100%;

}
=======
html, body {
    height: 100%;
    margin:0;
  }
>>>>>>> 15d048ce4b1f6efe27bf01f1904e2330a8fcf931:application/src/_basic.scss
