footer {
    background-color: $primary_color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: calc($basic_distance * 2);
    padding: $basic_distance 0;
    width: 100%;
    margin-top: 130px;

}


img {
    height: 32px;
}