footer {
    background-color: $primary_color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: calc($basic_distance * 2);
    padding: $basic_distance 0;
    flex-grow: 1;


    img {
        height: 32px;
    }
}