main {
    .welcome {
        border: 8px solid $primary_color;
        padding: 0 $basic_distance;
        line-height: 24px;
        text-align: justify;
    }

    .blog-posts {
        line-height: 24px;

        h2,
        h3,
        p,
        .meta {
            padding: 0 calc($basic_distance + 8px);
        }

        article {
            border-bottom: 4px solid $secondary_color;
            padding-bottom: $basic_distance;

            &:nth-of-type(even) {
                border-color: $primary_color;
            }

            .meta {
                font-size: 12px;
                color: transparentize($black_color, 0.5);

                .date {
                    color: $secondary_color;
                }

                .author {
                    color: $primary_color;
                }
            }
        }
    }
}

.main-container {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
}

.container {
    align-items: flex-start;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.registration-form {
    padding: 24px;
    border: 32px solid $white_color;
    border-radius: 8px;
    background: $primary_color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin: auto;


    form {
        display: flex;
        flex-direction: column;


        div {
            margin-bottom: 1rem;


            label {
                margin-bottom: 0.5rem;
                font-size: 16px;
                color: $black_color;

            }

            input {
                padding: 0.5rem;
                border: 1px solid $white_color;
                border-radius: 4px;
                width: 100%;
            }
        }
    }
}

button {
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    background-color: $secondary_color;
    color: $black_color;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;

    &:hover {
        background-color: $tertiary_color;
    }
}

@media (max-width: 768px) {

    .register-form,
    .main-container {
        padding: 0.5rem;
        max-width: 200px;
        margin: 0;
    }

    form div {
        flex-direction: column;
    }
}


.post-detail {
    h1 {
        color: $black_color;
    }

    p {
        color: $black_color;
    }

    a {
        margin-right: 10px;
        color: $secondary_color;
        text-decoration: none;
    }

    button {
        background-color: $secondary_color;
        color: $black_color;
        border: none;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
            background-color: $tertiary_color;
        }
    }
}