$primary_color: #C2A4CD;
$secondary_color: #7fd9c2;
$tertiary_color: #EB8573;
$quaternary_color: #ABB7CB;
$black_color: #333333;
$white_color: #e3e3e3;

<<<<<<< HEAD
/* spacing */
=======
>>>>>>> 403467dd26c32ca26dd11b39d29510826669d964
$basic_distance: 16px;