{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Post{% endblock %}

{% block content %}
<h1>Delete Post</h1>
<h3 class="red">Are you sure you want to delete the following post?</h3>
<fieldset class="edit-form">
    <legend>Post Details</legend>
    <div class="detail">
        <h1>{{ post.title }}</h1>
        {% if post.category %}
        <p><strong>Category: </strong>{{ post.category }}</p>
        {% endif %}
        <div class="meta">
            Posted on
            <span class="date">{{ post.created_at|date:"Y-m-d H:i" }}</span>
        </div>
    </div>
    <div class="welcome">
        <p>{{ post.content }}</p>
        {% if post.learned_lessons %}
        <h2>-Lessons learnt-</h2>
        <p>{{ post.learned_lessons }}</p>
        {% endif %}
    </div>
    {% if post.image %}
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="Post Image">

        <form action="{% url 'delete_image' post.id %}" method="POST" class="delete-image-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash-alt"></i> Delete Image
            </button>
        </form>
    </div>
    {% endif %}
</fieldset>


<form action="{% url 'delete_post' post.id %}" method="POST" class="delete-form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i> Delete
    </button>
    <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">
        <i class="fas fa-times"></i> Cancel
    </a>
</form>
{% endblock %}