{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Post{% endblock %}

{% block content %}
<h1>Delete Post</h1>

<p class="red">Are you sure you want to delete the following post?</p>

<fieldset class="edit-form">
    <legend>Post Details</legend>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content }}</p>
    {% if post.image %}
    <div class="post-image">
        <img src="{{ post.image.url }}" alt="Post Image">
    </div>
    {% endif %}
</fieldset>

<form action="{% url 'delete_post' post.id %}" method="POST" class="delete-form">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">
        <i class="fas fa-trash-alt"></i> Delete
    </button>
    <a href="{% url 'post_detail' post.id %}" class="btn btn-secondary">
        <i class="fas fa-times"></i> Cancel
    </a>
</form>
{% endblock %}