{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>My Posts</h1>

<div class="welcome state">
    <p>
        <strong>Posts:</strong>
        {{ total_posts }}
    </p>
    <p>
        <strong>Comments:</strong>
        {{ total_comments }}
    </p>
    <p>
        <strong>Likes:</strong>
        {{ total_likes }}
    </p>
</div>

<div class="btn create">
    <a href="{% url 'write_article' %}">Create a new post</a>
</div>

<div class="posts-container">
    {% for post in page_obj %}

    <div class="post">
        <a href="{% url 'post_detail' post.id %}" class="read">
            <h3>{{ post.title }}</h3>
            <p>{{ post.truncated_content }}</p>
        </a>
        <a href="{% url 'post_detail' post.id %}" class="read">
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-img">
            {% else %}
            <img src="{% static 'images/default.webp' %}" alt="Default image" class="post-img">
            {% endif %}
        </a>
        <div class="meta">
            Posted on
            <span class="date">{{ post.created_at|date:"Y-m-d H:i" }}</span>
            by
            <span class="author">{{ post.user.username }}</span>
        </div>

        {% if user.is_authenticated and post.user == user %}
        <div class="post-actions">
            <a href="{% url 'edit_post' post.pk %}" class="btn btn-primary">Edit</a>
            <form action="{% url 'delete_post' post.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger"
                    onclick="return confirm('Are you sure you want to delete this post?');">Delete</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% empty %}
    <p>No posts to display.</p>
    {% endfor %}
</div>

<div class="pagination">
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}" class="btn"> <i class="fas fa-arrow-left"></i></a>
    {% endif %}

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn"> <i class="fas fa-arrow-right"></i></a>
    {% endif %}
</div>

{% endblock %}