{% extends 'base.html' %}
{% load static %}

{% block content %}
{% if user.is_artist %}
<div class="registration-form">
    <h2>{% if post %}Edit Post{% else %}Write Article{% endif %}</h2>
    <!-- Display form errors -->
    {% if form.errors %}
    <div class="error">
        <ul>
            {% for field in form %}
            {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form action="{% if post %}{% url 'update_post' post.pk %}{% else %}{% url 'write_article' %}{% endif %}"
        method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% if post %}Update{% else %}Submit{% endif %}</button>
    </form>
</div> 
{% else %}
<h2>You are not artist</h2>
{% endif %}
{% endblock %}