<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/webfonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Write Article - Creative Fails</title>
</head>

<body>
    <header>
    </header>
    <main>
        <div class="registration-form">
        </div>
        <div class="blog-posts">
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>