{% extends 'base.html' %}
{% load static %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static 'css/app.css' %}">
<link rel="stylesheet" href="{% static 'css/webfonts.css' %}">
<title>Home - Creative Fails</title>
{% endblock head %}

{% block content %}
<header>
    <!--<div class="header-element">
        <nav>
            <div class="hamburger" id="hamburger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>‚
        </nav>
    </div> -->
    <div class="hero">
        <h1>Creative Fails</h1>
    </div>
</header>

<main>
    {% if user.is_authenticated %}
    <h2>Hello, {{ user.username }}!</h2>
    {% endif %}
   
    <div class="welcome">
        <h3>Welcome to Creative Fails, we want to inspire and connect artists and creators through transparency, humor, and shared learning.
        </h3>
    </div>

    <div class="blog-posts">
        <h2>Top 3 Most-Commented Posts</h2>
        {% if top_3_posts %}
            <ul>
                {% for post in top_3_posts %}
                    <li>
                        <strong>{{ post.title }}</strong>
                        <p>{{ post.content }}</p>
                        
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt="{{ post.title }}" style="width: 200px; height: auto;">
                        {% else %}
                        <p>No image available</p>
                        <a href="{% url 'post_detail' post.id %}"><img src="{% static 'images/default.webp' %}" alt="Default image"
                                class="post-img" style="max-width: 300px; max-height: 300px;"></a>
                        {% endif %}

                        <span>{{ post.comments.count }} comments</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% for post in posts %}
        <article>
            <a href="{% url 'post_detail' post.id %}">
                <h3>{{ post.title }}</h3>
            </a>
            <a href="{% url 'post_detail' post.id %}">
                <p>{{ post.content|truncatewords:30 }}</p>
            </a>

            {% if post.image %}
            <a href="{% url 'post_detail' post.id %}"><img src="{{ post.image.url }}" alt="{{ post.title }}"
                    class="post-img" style="max-width: 300px; max-height: 300px;"></a>
            {% else %}
            <p>No image available</p>
            <a href="{% url 'post_detail' post.id %}"><img src="{% static 'images/default.webp' %}" alt="Default image"
                    class="post-img" style="max-width: 300px; max-height: 300px;"></a>
            {% endif %}

            <div class="meta">
                Posted on <span class="date">{{ post.created_at|date:"Y-m-d H:i" }}</span> by <span
                    class="author">{{ post.user.username }}</span>
            </div>

            {% if user.is_authenticated and post.user == user %}
            <p>
                <a href="{% url 'edit_post' post.id %}" class="btn">Edit Post</a>
            </p>
            {% endif %}

            <div class="post-bar">
                {% if user.is_authenticated %}
                {% if post.user == user %}
                <button type="submit" class="btn btn-icon" title="You can't like your own post!">
                    <i class="far fa-heart"></i>
                </button>
                {% elif post.is_liked %}
                <form action="{% url 'post_unlike' post.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-icon">
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </form>
                {% else %}
                <form action="{% url 'post_like' post.id %}" method="POST" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-icon">
                        <i class="fa-regular fa-heart"></i>
                    </button>
                </form>
                {% endif %}
                {% else %}
                <button title="Log in to like posts!"><a href="{% url 'post_detail' post.id %}">
                        <i class="far fa-heart"></i></a>
                </button>
                {% endif %}
                {{ post.likes.count }}

                <button><a href="{% url 'post_detail' post.id %}">
                        <i class="far fa-comments"></i>
                    </a></button>
                {{ post.comments.count }}
            </div>

            <div class="comments">
                <h4>Comments</h4>
                {% for comment in post.comments.all %}
                <div class="comment">
                    <p><strong>{{ comment.user.username }}</strong>: {{ comment.content }}</p>
                </div>
                {% empty %}
                <p>No comments yet. Be the first to comment!</p>
                {% endfor %}

                {% if user.is_authenticated %}
                <form action="{% url 'add_comment' post.id %}" method="POST">
                    {% csrf_token %}
                    <!-- <textarea name="content" placeholder="Add a comment..." required></textarea>-->
                </form>
                {% else %}
                <p><a href="{% url 'login' %}">Log in</a> to add a comment.</p>
                {% endif %}
            </div>
        </article>
        {% endfor %}
    </div>
</main>
<a href="{% url 'post_list' %}" class="btn ">See all posts</a>

{% endblock content %}
