{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/webfonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Creative Fails</title>
</head>

<body>
    <header>
        <div class="header-element">
            <nav>
                <div class="logo">
                    <img src="./static/images/logo_cf.png" alt="Logo">
                </div>
                <ul>
                    <li><a href="/"><img class="logo" src="./static/images/logo_cf.png" alt="Logo"></a></li>
                    <li><a href="/post">Write Article</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">SignIn</a></li>
                </ul>
            </nav>
        </div>
        <div class="hero">
            <h1>Creative Fails</h1>
        </div>
    </header>
    <main>
        <div class="welcome">
            <h3>Welcome to Creative Fails, </h3>
            <p>the unique platform dedicated to the art of failure. Here, we share stories of setbacks in art, digital
                art, and film – not to discourage, but to inspire. Our mission is to learn from our mistakes and support
                each other on the journey to creative masterpieces.
                In a world where successes often take center stage, the valuable lessons from failures often remain
                hidden. We believe that these stories are essential for growth and innovation. Whether you're an
                experienced artist, an emerging filmmaker, or a curious creative, you'll find a community here that
                understands and shares your challenges.
                Discover touching and honest stories, engage in lively discussions, and learn how to turn every mistake
                into a positive outcome. Be inspired by the experiences of others and share your own with our supportive
                community.
                Together, we celebrate the creative missteps that make us better artists and people. Dive into the world
                of creative failures and find new ways to elevate your projects to the next level.
                Join our community and let’s grow together!</p>
        </div>
        <div class="blog-posts">
            <h2>Blog Posts</h2>
            <article>
                <h3>{headline}</h3>
                <p>{Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores veniam pariatur culpa, nobis
                    optio sed consequuntur libero eveniet labore voluptatum adipisci delectus iusto dicta commodi
                    ducimus aperiam! Natus, aperiam at?}</p>
                <div class="meta">
                    Posted on <span class="date">{yyyy/mm/dd}</span> by <span class="author">{authorName}</span>
                </div>
            </article>
            <article>
                <h3>{headline}</h3>
                <p>{Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores veniam pariatur culpa, nobis
                    optio sed consequuntur libero eveniet labore voluptatum adipisci delectus iusto dicta commodi
                    ducimus aperiam! Natus, aperiam at?}</p>
                <div class="meta">
                    Posted on <span class="date">{yyyy/mm/dd}</span> by <span class="author">{authorName}</span>
                </div>
            </article>
            <article>
                <h3>{headline}</h3>
                <p>{Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores veniam pariatur culpa, nobis
                    optio sed consequuntur libero eveniet labore voluptatum adipisci delectus iusto dicta commodi
                    ducimus aperiam! Natus, aperiam at?}</p>
                <div class="meta">
                    Posted on <span class="date">{yyyy/mm/dd}</span> by <span class="author">{authorName}</span>
                </div>
            </article>
            <article>
                <h3>{headline}</h3>
                <p>{Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores veniam pariatur culpa, nobis
                    optio sed consequuntur libero eveniet labore voluptatum adipisci delectus iusto dicta commodi
                    ducimus aperiam! Natus, aperiam at?}</p>
                <div class="meta">
                    Posted on <span class="date">{yyyy/mm/dd}</span> by <span class="author">{authorName}</span>
                </div>
            </article>
            <article>
                <h3>{headline}</h3>
                <p>{Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores veniam pariatur culpa, nobis
                    optio sed consequuntur libero eveniet labore voluptatum adipisci delectus iusto dicta commodi
                    ducimus aperiam! Natus, aperiam at?}</p>
                <div class="meta">
                    Posted on <span class="date">{yyyy/mm/dd}</span> by <span class="author">{authorName}</span>
                </div>
            </article>
        </div>
    </main>
    <footer>
        <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Visit our Twitter page">
            <img src="./static/images/x-twitter.png" alt="Twitter" class="social">
        </a>
        <a href="https://github.com" aria-label="Open-source code GitHub" target="_blank">
            <img src="./static/images/github.png" alt="GitHub" class="social">
        </a>
        <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Visit our Instagram page">
            <img src="./static/images/instagram.png" alt="Instagram" class="social">
        </a>
        </div>
    </footer>
</body>

</html>